@font-face {
    font-family: 'Spigel';
    src: url('Spiegel.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    line-height: 1.15;
    text-size-adjust: 100%;
    tab-size: 4;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(22, 31, 50);
    color: rgb(10, 20, 40);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    min-height: 100vh;
    text-rendering: optimizespeed;
}

body * {
    scroll-margin-top: 80px;
}

a {
    text-decoration: none;
}

ol {
    list-style: none;
}

a:hover {
    color: rgb(200, 170, 110);
}

/* Phần Navbar header */
.margin-top-80px {
    margin-top: 80px;
}

.bar-wrapper {
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 0;
}

.bar-content {
    background-color: #111;
    border-bottom: 2px solid rgba(51, 51, 51, .25);
    font-family: "FF Mark W05", Arial, sans-serif;
    font-size: 14px !important;
    font-weight: bold;
    height: 80px;
    line-height: normal;
    position: relative;
    text-align: left;
    display: flex;
    width: 100%;
    z-index: 3000000;
}

.bar-left-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 36px;
}

.bar-branding-switcher {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-logo {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
}

.bar-logo:hover .bar-fist-logo{
    fill: #eb0029;
}

.bar-logo:hover .bar-app-switcher-trigger-arrow svg{
    fill: #eb0029;
}

.bar-fist-logo {
    width: 75px;
    height: 24px;
    fill: #f9f9f9;
    position: relative;
    margin: 0;
}

.bar-app-switcher-trigger-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-app-switcher-trigger-arrow svg {
    margin-left: 12px;
    fill: #7e7e7e;
    width: 8px;
    height: 5px;
}


.bar-center-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.bar-desktop-logo-outer {
    height: 80px;
    margin-left: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.position-relative {
    position: relative;
}

.bar-desktop-logo-outer a {
    min-width: 38px;
    display: block;
}

.league {
    display: block;
    max-height: 26px;
}

.bar-desktop-navigation-wrapper {
    opacity: 1;
    margin-left: 18px;
    transition: opacity ease .3s;
    width: 100%;
    height: 80px;
}

.desktop-link-item {
    display: inline-flex;
    position: relative;
    height: 80px;
    cursor: pointer;
}

#desktop-link-item-none {
    display: none !important;
}

.desktop-link-item a, 
.desktop-link-item .news, 
.desktop-link-item .discover,
.desktop-link-item .more {
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    color: #f9f9f9;
    font-size: 13px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .08em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98), border-color .5s cubic-bezier(0.06, 0.81, 0, 0.98);
    text-decoration: none;
}

.desktop-link-item:hover a, 
.desktop-link-item .news:hover, 
.desktop-link-item .discover:hover,
.desktop-link-item .more:hover {
    color: rgb(200, 170, 110);
}

.desktop-link-item a:hover, 
.desktop-link-item .news:hover .desktop-link-item-news, 
.desktop-link-item .discover:hover .desktop-link-item-discover
.desktop-link-item .more:hover .desktop-link-item-more {
    display: none;
}

.desktop-link-item a:hover,
.desktop-link-item .news:hover .desktop-link-item-news-hover, 
.desktop-link-item .discover:hover .desktop-link-item-discover-hover
.desktop-link-item .more:hover .desktop-link-item-more-hover {
    display: inline-block;
}

.desktop-link-item a p, 
.desktop-link-item .news p,
.desktop-link-item .discover p,
.desktop-link-item .more p {
    padding: 7.5px 16px;
    text-align: center;
    margin-right: 4px;
}

.desktop-link-item-game:hover .desktop-link-item-underline, 
.desktop-link-item-champions:hover .desktop-link-item-underline, 
.desktop-link-item-patchnotes:hover .desktop-link-item-underline,
.desktop-link-item-discover:hover .desktop-link-item-underline,
.desktop-link-item-esports:hover .desktop-link-item-underline,
.desktop-link-item-universe:hover .desktop-link-item-underline,
.desktop-link-item-merch:hover .desktop-link-item-underline,
.desktop-link-item-more:hover .desktop-link-item-underline
{
    background-color: rgb(0, 160, 186);
    position: absolute;
    bottom: 7px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.desktop-link-item:hover p {
    background: rgba(128, 128, 128, .3);
    border-radius: 6.4px;
}


/* News in navbar */
.desktop-link-item-more-hover,
.desktop-link-item-discover-hover,
.desktop-link-item-news-hover {
    display: none;
}

.submenu-wrapper {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 69px;
    background-color: #292929;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .2);
    border-radius: 0 0 2px 2px;
    text-align: left;
    font-size: 13px;
    min-width: 200px;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s, visibility 0s;
    display: none;
}

.desktop-link-item-more:hover .submenu-wrapper,
.desktop-link-item-discover:hover .submenu-wrapper,
.desktop-link-item-news:hover .submenu-wrapper {
    transition: opacity .5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s, visibility 0s;
    opacity: 1;
    visibility: visible;
    display: block;
}

.desktop-link-item-more:hover .desktop-link-item-underline-more,
.desktop-link-item-discover:hover .desktop-link-item-underline-discover,
.desktop-link-item-news:hover .desktop-link-item-underline-news {
    background-color: rgb(0, 160, 186);
    position: absolute;
    bottom: 7px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.submenu-wrapper .submenu-item {
    padding: 0;
    line-height: normal;
    margin: 5px 16px;
    list-style-type: none;
}

.submenu-wrapper .submenu-item:hover {
    background-color: rgba(128, 128, 128, .3);
    border-radius: 6.4px;
}

.submenu-wrapper li:first-of-type.submenu-item {
    margin-top: 16px !important;
}

.submenu-wrapper li:last-child.submenu-item {
    margin-bottom: 16px !important;
}

.submenu-wrapper .submenu-item .submenu-link {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-transform: capitalize;
    text-align: left;
    color: #c7c7c7;
}


.desktop-link-item-icon-linkout {
    vertical-align: middle;
}

.desktop-link-item-icon-linkout svg {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 4px;
    text-align: center;
}


.bar-right-content {
    display: flex;
    padding-right: 32px;
}

.bar-search-container {
    position: relative;
    font-family: "FF Mark W05", Arial, sans-serif;
    height: 100%;
    top: 0;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.bar-search-input-container input {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: -8px 10px;
    border-style: hidden;
    outline: none;
    width: 25px;
    height: 40px;
    transition: width ease 1s;
    text-indent: 40px;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #f9f9f9;
}

.bar-search-input-container {
    display: flex;
    background-color: #2b2a29;
    transition: background-color .1s ease-in-out;
    border-radius: 1.6rem;
    padding: 10px 0;
}

.bar-search-icon {
    cursor: pointer;
    position: absolute;
    transform: translate(26%, 7%);
    left: 0;
    transition: translate 1s ease-out;
}

.bar-search-icon svg {
    width: 22px;
    height: 22px;
    pointer-events: none;
}

.bar-search-icon svg path {
    fill: #f9f9f9;
    transition: fill .3s ease-out;
}


.search-submit {
    width: 0;
    border: 0;
    padding: 0;
}

.bar-search-input-container .search-close {
    position: absolute;
    right: 0px;
    transition: opacity .75s linear;
    opacity: 0;
    visibility: hidden;
    transform: translate(0%, -29%);
    display: block;
    cursor: pointer;
}


.bar-locale-switcher {
    position: relative;
    font-family: "FF Mark W05", Arial, sans-serif;
    height: 100%;
    top: 0;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.locale-switcher-icon {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.locale-switcher-icon .lang-switch-trigger {
    width: 32px;
    height: 32px;
    position: absolute;
    padding: 0;
    border-radius: 6.4px;
    text-decoration: none;
}

.locale-switcher-icon .lang-switch-trigger svg {
    position: absolute;
    top: 8px;
    left: 8px;
    margin: auto;
    width: 16px;
    height: 16px;
}


.bar-account-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-account-anonymous-link-wrapper {
    display: inline-block;
    padding: 0 6px;
}

.bar-anonymous-link {
    text-align: center;
    line-height: 16px;
    position: relative;
    z-index: 0;
    text-overflow: ellipsis;
    height: 32px;
    border-radius: 12px;
    padding: 8px 16px;
    color: #111;
    cursor: pointer;
    display: inline-block;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98);
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.04px
}

/* Mobile */
.bar-mobile-nav {
    display: none;
    color:#111;
}

.bar-menu-icon {
    display: none;
    visibility: hidden;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.bar-mobile-menu {
    background: #1f1f1f;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .2);
    margin: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    text-align: left;
    top: 0px;
    right: 0;
    z-index: 10;
    transition: transform 300ms, opacity 300ms;
    transform: translateX(100%);
    width: 484px;
    overflow-y: auto;
}

.bar-mobile-menu-active {
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
}

.bar-theme-logo-mobile {
    display: none;
}

.bar-theme-logo-mobile a {
    border-bottom-width: 0;
}

.bar-theme-logo-mobile svg {
    display: block;
    height: 40px;
}

.bar-mobile-menu-header {
    height: 80px;
    background: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

}

.mobile-menu-league span {
    color: #f9f9f9;
    margin: 0;
    display: block;
    max-height: 40px;
}

.mobile-menu-league svg {
    height: 40px;
}

.bar-mobile-menu-header .mobile-menu-close {
    height: 48px;
    width: 48px;
}

.mobile-menu-close svg {
    width: 48px;
    height: 48px;
}

.mobile-menu-search {
    display: flex;
    flex-direction: column;
    padding: 4px 16px 0;
    width: 100%;
    transition: opacity .2s linear;
    margin-bottom: 20px;
}

.mobile-menu-search .mobile-menu-input{
    display: flex;
    background-color: #2b2a29;
    border-radius: 1.6rem;
    padding: 10px 0;
}

.mobile-menu-input .mobile-menu-input-search-icon {
    position: absolute;
    left: 30px;
}

.mobile-menu-input .mobile-menu-input-search-icon svg {
    width: 22px;
    height: 22px;
    pointer-events: none;
}

.mobile-menu-input input {
    padding: 0;
    margin: -8px 10px;
    border-style: hidden;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    width: 100%;
    height: 40px;
    transition: width ease 1s;
    text-indent: 42px;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #f9f9f9;
}

.mobile-menu-input .mobile-menu-input-close {
    position: absolute;
    right: 10px;
    transform: translate(0%, -29%);
    display: block;
}

.mobile-menu-input .mobile-menu-input-close svg {
    width: 60px;
}

.mobile-menu-links {
    transition: opacity .2s linear;
    padding-top: 7px;
}

.mobile-menu-links > div {
    overflow: visible;
    position: relative;
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

.bar-mobile-menu-link {
    text-decoration: none;
    color: #f9f9f9;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 12px 18px;
    margin: 0px 16px 8px;
    text-transform: uppercase;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: .08em;
}

.bar-mobile-menu-link:hover {
    background: rgba(128, 128, 128, .2);
    border-radius: 6.4px;
}

.mobile-menu-icon-arrow {
    width: 28px;
    height: 14px;
    transform: rotate(90deg);
    transition: transform .2s linear;
}

.mobile-menu-icon-arrow svg {
    display: block;
    fill: #737373;
    width: 28px;
    height: 14px;
}


.bar-mobile-menu-anonymous-link-wrapper {
    width: 100%;
    transition: opacity .2s linear;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 20px;
}

.bar-mobile-menu-anonymous-link {
    cursor: pointer;
    display: block;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 120%;
    position: relative;
    z-index: 0;
    height: 48px;
    border-radius: 12px;
    padding: 8px 16px;
    color: #111;
    margin-top: 12px;
}

.bar-mobile-menu-anonymous-link-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-mobile-menu .bar-account-container {

}

.riotbar-account-action {

}

/* Intro home */
.intro {
    min-height: 640px;
    margin: 0px auto;
    padding: 64px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.backdrop .backdrop-background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.intro .backdrop .backdrop-background-video {
    opacity: 0.8;
    background-color: rgb(10, 20, 40);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    max-width: 100%;
}


.intro .blade-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
    gap: var(--spacer-variable-m);
    max-width: 960px;
    margin: 0px auto;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
}

.intro .top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.intro .logo {
    object-fit: contain;
    height: auto;
    max-width: 368px;
}

.intro .play-for-free {
    outline: rgb(255, 255, 255) solid 1px;
    outline-offset: 3px;
    margin-top: 48px;
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    padding: 19px 32px;
    color: #0a1428;
    background-color: #c8aa6e;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.play-for-free .cta-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: center;
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
}



/* -------------------------------------News------------------------------ */
.section-news {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 20, 40);
    padding: 48px 48px;
}

/* Nền của phần News */
.news-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.news-backdrop .news-backdrop-background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
}

.news-backdrop .news-backdrop-background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% center;
}

.news-backdrop .news-backdrop-foreground {
    display: block;
    inset: clamp(0px, 20vw, 160px) 0px 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Tiêu đề của phần News */
.news-heading {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.news-heading p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
}

.news-views-all {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    align-self: center;
    padding: 0px;
    color: rgb(10, 20, 40);
    transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
    text-decoration: none;
}

.news-views-all:hover {
    color: rgb(108, 114, 126);
}

.news-views-all span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1 1 0%;
}

.news-views-all .cta-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: center;
    text-transform: uppercase;
    flex-direction: row-reverse;
    flex: 1 1 0%;
    height: 100%;
}

.news-views-all .icon-link {
    filter: brightness(0) saturate(100%) invert(69%) sepia(51%) saturate(290%) hue-rotate(2deg) brightness(90%) contrast(93%);
    transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
    width: 13px;
    height: 13px;
}

/* Nội dung của phần News */
.news-content {
    margin: 32px 0px;
    overflow: hidden;
    cursor: auto;
    width: 100%;
    height: 100%;
    display: flex; 
    gap: 32px;
    position: relative;
    z-index: 10;
}

.news-content .news-card {
    width: calc((100% - 64px) / 3);
}

.news-card a{
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}

.news-card .card-content .card-image {
    overflow: hidden;
    aspect-ratio: 1.77778 / 1;
    padding-bottom: 0px;
    height: auto;
    position: relative;
    width: 100%;
}

.card-image .card-wrapper {
    position: absolute;
    inset: 0px;
}

.card-image .card-wrapper img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

.news-card:hover .card-image .card-wrapper img {
    transform: scale(1.1);
}

.card-image .card-wrapper .icon-action-external-link {
    background-image: url(./link-square.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: inline-block;
    height: 100%;
    width: clamp(30px, 10%, 100px);
    background-position: center bottom;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 14px;
    line-height: 22px;
    margin: 16px 0px 8px;
}

.card-info .card-category {
    font-weight: bold;
    color: rgb(200, 170, 110);
    text-transform: uppercase;
}

.card-info .card-info-divider {
    background-color: rgb(204, 204, 204);
    margin: 0px 8px;
    height: 13px;
    width: 1px;
}

.card-info .card-date {
    color: rgb(10, 20, 40);
    font-weight: 500;
}

.card-content .card-title {
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 4px;
    color: rgb(10, 20, 40);
}

.card-content .card-description {
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 16px;
    line-height: 24px;
    color: rgb(10, 20, 40);
}


/* -------------------------------------Champions------------------------------ */
.section-champions {
    padding: 48px 48px;
    background-color: rgb(255, 255, 255);
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
    color: rgb(10, 20, 40);
}

/* Nền chính của phần Champions */
.champions-backdrop-main {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.champions-backdrop-main .chammpions-backdrop-background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
}

.champions-backdrop-main .chammpions-backdrop-full-background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    top: 0px;
    z-index: 1;
}

.champions-backdrop-main .chammpions-backdrop-full-background img {
    object-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.champions-backdrop-main .chammpions-backdrop-full-foreground {
    position: absolute;
    inset: clamp(0px, 20vw, 160px) 0px 0px;
    top: 0px;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
}


/* Nội dung của phần Champions */
.champions-content {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
}

.champions-content .champions-backdrop-item {
    position: absolute;
    inset: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.champions-content .champions-backdrop-item .champions-backdrop-foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    inset: clamp(0px, 20vw, 160px) 0px 0px;
    top: 0px;
}

.champions-content .champions-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.champions-content .champions-main .champions-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.champions-main .champions-text .champions-supertitle {
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 22px;
    line-height: 32px;
    color: rgb(10, 20, 40);
    font-weight: 500;
    margin-bottom: 8px;
}

.champions-main .champions-text .champions-title {
    margin-bottom: 16px;
}

.champions-text .champions-title h2 {
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 72px;
    color: rgb(10, 20, 40);
    word-break: normal;
}

.champions-main .champions-text .champions-description {
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    color: rgb(10, 20, 40);
    margin-bottom: 48px;
}

.champions-text .champions-description p {
    margin-bottom: 0;
}

.champions-main .champions-text .champions-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    width: 100%;
    margin-bottom: 48px;
}

.champions-text .champions-buttons a {
    display: block;
    width: fit-content;
    padding: 19px 32px;
    color: #0a1428;
    background-color: #c8aa6e;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

.champions-text .champions-buttons a:hover {
    background-color: #d3bb8b;
}

.champions-text .champions-buttons .bg-59C1DE {
    background-color: #59C1DE;
}

.champions-text .champions-buttons .bg-59C1DE:hover {
    background-color: #7acde4;
}

.champions-content .champions-main .champions-tabs {
    z-index: 1;
}

.champions-main .champions-tabs .champions-roles{
    overflow: hidden;
    cursor: auto;
    width: 100%;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-top: -6px;
    margin-bottom: -2px;
}

.champions-tabs .champions-roles ol {
    list-style: none;
    height: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.champions-tabs .champions-roles li {
    width: calc((100% - 8px * 5) / 6);
    min-width: calc((100% - 8px * 5) / 6);
}

.champions-tabs .champions-roles .champions-role-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
}

.champions-role-item:hover {
    transform: scale(1.1);
}

.champions-role-item.champions-role-item-active:hover .champions-role-item-active{
    transform: scale(1);
}

.champions-roles .champions-role-item .champions-role-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding-bottom: 0px;
    height: auto;
    width: 100%;
    max-width: 64px;
}

.champions-role-item .champions-role-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.champions-role-item.champions-role-item-active .champions-role-item-img img {
    filter: unset;
}

.champions-roles .champions-role-item .champions-role-item-label {
    font-family: Spiegel, sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    word-break: normal;
    font-weight: 600;
    color: rgb(10, 20, 40);
    margin-top: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.champions-controller {
    display: none;
}

.champions-content .champions-media {
    flex: 1;
    z-index: 1;
}

.champions-content .champions-media .champions-media-img {
    margin-bottom: 48px;
    aspect-ratio: 1 / 1;
    padding-bottom: 0px;
    position: relative;
    width: 100%;
    height: auto;
}

.champions-media .champions-media-img .champions-media-wrapper {
    position: absolute;
    inset: 0px;
}

.champions-media-img .champions-media-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.champions-content .champions-media .champions-media-content {
    text-align: center;
    position: relative;
}

.champions-media .champions-media-content .champions-media-title {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    color: rgb(10, 20, 40);
}

.champions-media .champions-media-content .champions-media-subtitle {
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(108, 114, 126);
    margin-bottom: 4px;
}




/* -------------------------------------Slay with style------------------------------ */
.section-slaywithstyle {
    color: rgb(255, 255, 255);
    background-color: transparent;
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    min-height: 640px;
    padding: 48px 48px;
}


/* Nền của phần Slay with style */
.slaywithstyle-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.slaywithstyle-backdrop .slaywithstyle-backdrop-background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
}

.slaywithstyle-backdrop .slaywithstyle-backdrop-background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% center;
}


/* Nội dung của phần Slay with style */
.slaywithstyle-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    flex-direction: row-reverse;
}

.slaywithstyle-main .slaywithstyle-content {
    flex: 0 1 50%;
    max-width: 50%;
    min-height: 100%;
}

.slaywithstyle-content .slaywithstyle-heading .slaywithstyle-supertitle {
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.slaywithstyle-content .slaywithstyle-heading .slaywithstyle-title {
    overflow-wrap: break-word;
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 88px;
    margin-bottom: 16px;
}

.slaywithstyle-content .slaywithstyle-heading .slaywithstyle-description {
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 48px;
}

.slaywithstyle-heading .slaywithstyle-description p {
    margin: 0px;
}

.slaywithstyle-main .slaywithstyle-content .slaywithstyle-links{
    display: flex;
    align-items: center;
    gap: 16px;
}

.slaywithstyle-content .slaywithstyle-links a {
    display: block;
    width: fit-content;
    padding: 19px 32px;
    color: #0A1428;
    background-color: #C8AA6E;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

.slaywithstyle-content .slaywithstyle-links a:hover {
    background-color: #d3bb8b;
}

.slaywithstyle-links a div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.slaywithstyle-main .slaywithstyle-image {
    flex: 0 1 50%;
    max-width: 50%;
    min-height: 100%;
}

.slaywithstyle-main .slaywithstyle-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* -------------------------------------Mutiples way to play------------------------------ */
.section-play {
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(10, 20, 40);
    position: relative;
    padding: 48px 48px;
    color: rgb(255, 255, 255);
}

.play-backdrop-main {
    position: absolute;
    inset: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.play-backdrop-main .play-backdrop-background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
}

.play-backdrop-main .play-backdrop-full-background {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
}

.play-backdrop-main .play-backdrop-full-background img {
    object-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.play-backdrop-main .play-backdrop-full-foreground {
    position: absolute;
    display: block;
    inset: clamp(0px, 20vw, 160px) 0px 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
}

.play-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.play-container .play-main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.play-container .play-main .play-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.play-main .play-content .play-content-supertitle {
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 22px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 8px;
}

.play-main .play-content .play-content-title {
    margin-bottom: 16px;
}

.play-content .play-content-title h2 {
    text-wrap: balance;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 72px;
    color: rgb(255, 255, 255);
    word-break: normal;
}

.play-main .play-content .play-content-description {
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    color: rgb(255, 255, 255);
    margin-bottom: 48px;
}

.play-content .play-content-description p {
    margin-bottom: 0;
}

.play-main .play-content .play-content-links {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
}

.play-content .play-content-links a {
    display: block;
    width: fit-content;
    padding: 19px 32px;
    color: #0A1428;
    background-color: #C8AA6E;
}

.play-content .play-content-links a:hover {
    background-color: #d3bb8b;
}

.play-content-links a div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: center;
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.play-container .play-main .play-tabs {
    z-index: 1;
    overflow: hidden;
    cursor: auto;
    width: 100%;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-top: -6px;
    margin-bottom: -2px;
}

.play-main .play-tabs ol {
    display: flex;
    height: 100%;
    gap: 8px;
    justify-content: center;
}

.play-main .play-tabs li {
    width: calc((100% - 8px * 5) / 6);
}

.play-main .play-tabs .play-card {
    display: flex;
    justify-content: center;
    transition: transform 300ms;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    filter: brightness(50%);
}

.play-main .play-tabs .play-card.play-card-active {
    filter: unset;
}

.play-main .play-tabs .play-card:hover {
    transform: scale(1.1);
}

.play-main .play-tabs .play-card.play-card-active:hover {
    transform: unset;
}

.play-tabs .play-card .play-card-img {
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 64px;
    aspect-ratio: 1 / 1;
    padding-bottom: 0px;
    height: auto;
    width: 100%;
}

.play-card .play-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-tabs .play-card .play-card-label {
    font-family: Spiegel, sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    word-break: normal;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play-container .play-backdrop-item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    overflow: hidden;
    pointer-events: none;
}

.play-container .play-backdrop-item .play-backdrop-item-foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    inset: clamp(0px, 20vw, 160px) 0px 0px;
    top: 0px;
}

.play-container .play-media {
    z-index: 1;
    flex: 1;
}

.play-container .play-media .play-media-position {
    margin-bottom: 48px;
}

.play-media .play-media-position .play-media-round {
    padding: 24px;
    border-radius: 50%;
    border: 1px solid rgb(200, 170, 110);
}

.play-media-position .play-media-round .play-media-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding-bottom: 0px;
    height: auto;
}

.play-media-position .play-media-round .innerWrapper {
    position: absolute;
    inset: 0px;
}

.play-media-position .play-media-round .play-media-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    clip-path: circle(50%);
    border: none;
    max-width: 100%;
}

.play-container .play-media .play-media-content {
    text-align: center;
    position: relative;
}

.play-media .play-media-content .play-media-header {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.play-media-content .play-media-header .play-media-title {
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    color: rgb(255, 255, 255);
}

.play-media .play-media-content .play-media-description {
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    color: rgb(255, 255, 255);
}

.play-media-content .play-media-description p {
    margin-bottom: 0;
}



/* ------------------------------Last section---------------------------- */
.section-last {
    position: relative;
    max-width: 1920px;
    width: 100%;
    color: rgb(10, 20, 40);
    background-color: rgb(255, 255, 255);
    padding: 48px 0 48px;
}

.last-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.last-backdrop .last-backdrop-background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
}

.last-backdrop .last-backdrop-background .last-backdrop-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.last-backdrop .last-backdrop-foreground {
    display: block;
    inset: clamp(0px, 20vw, 160px) 0px 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.last-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    min-height: 544px;
    margin: 0px auto;
}

.last-main .last-content {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.last-main .last-content a {
    display: block;
    width: fit-content;
    padding: 19px 32px;
    color: #0A1428;
    background-color: #C8AA6E;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
}

.last-main .last-content a:hover {
    background-color: #d3bb8b;
}


/* ------------------------------Footer---------------------------- */
.footer-content {
    background-color: #111;
    padding: 0px 0px 48px 0px;
    border-top: 2px solid #343434;
}

.footer-links {
    user-select: none;
    box-sizing: border-box;
    font-family: "FF Mark W05", Arial, sans-serif;
    background: #292929;
    padding: 24px;
    margin: 0;
    color: #7e7e7e;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .08em;
    text-align: center;
    text-transform: uppercase;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links .footer-link a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #f9f9f9;
    transition: all .2s linear;
}

.footer-links .footer-link a:hover {
    background: rgba(128, 128, 128, .3);
    border-radius: 6.4px;
}

.footer-social-links {
    padding: 18px 0;
    user-select: none;
    box-sizing: border-box;
}

.footer-social-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer-social-links li {
    margin: 6px;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 12px;
    width: 32px;
    height: 32px;
}

.footer-social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
}

.footer-social-links svg {
    width: 16px;
    height: 16px;
    fill: #f9f9f9;
    fill-rule: evenodd;
}

.footer-social-links span {
    opacity: 0;
    user-select: none;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    display: inline-block;
    width: 0;
    white-space: nowrap;
}

.footer-logo {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 24px 0px 20px;
}

.footer-logo svg {
    fill: #737373;
}

.footer-copyright {
    font-family: "FF Mark W05", Arial, sans-serif;
    margin: 0 auto;
    max-width: 640px;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    word-break: keep-all;
    color: #7e7e7e;
}

.footer-copyright .footer-copyright-text {
    margin: 0px auto;
}

.footer-legal-links {
    box-sizing: border-box;
    font-family: "FF Mark W05", Arial, sans-serif;
    padding: 24px 0px 28px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .08em;
    text-align: center;
    text-transform: uppercase;
}

.footer-legal-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-legal-links a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #f9f9f9;
    transition: all .2s linear;
}

.footer-legal-links a:hover {
    background: rgba(128, 128, 128, .3);
    border-radius: 6.4px;
}

.footer-game-ratings {
    user-select: none;
    box-sizing: border-box;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-game-ratings .footer-game-rating{
    max-width: 100%;
    padding: 8px 12px;
    background: #292929;
    border-radius: 8px;
}

.footer-game-ratings .footer-game-rating-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer-game-ratings .footer-game-rating a {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    margin: 4px 0;
    max-width: 100%;
}

.footer-game-ratings .footer-game-rating img {
    display: block;
    max-width: 100%;
}

.none {
    display: none;
}

@media screen and (max-width: 1024px) {
    .bar-mobile-nav {
        display: block;
        height: fit-content;
    }
    .bar-theme-logo-mobile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        line-height: 80px;
        height: 80px;
    }

    .bar-center-content {
        margin-left: 28px;
    }

    .bar-desktop-navigation-wrapper {
        margin-left: 0;
    }

    .desktop-link-item, .bar-desktop-logo-outer, .bar-search-container, .bar-account-container {
        display: none;
    }

    .bar-left-content {
        padding-left: 16px;
    }

    .bar-fist-logo {
        height: 32px;
        width: 95px;
    }

    .bar-fist-logo svg {
        height: 32px;
        width: 100%;
    }

    .bar-app-switcher-trigger-arrow svg{
        width: 14px;
        height: 7px;
    }

    .locale-switcher-icon {
        width: 48px;
        height: 48px;
        margin: 0 12px 0 8px;
    }

    .locale-switcher-icon .lang-switch-trigger {
        width: 48px;
        height: 48px;
    }

    .locale-switcher-icon .lang-switch-trigger svg {
        top: 12px;
        left: 12px;
        width: 24px;
        height: 24px;
    }

    .bar-menu-icon {
        display: block;
        visibility: visible;
        height: 48px;
        width: 48px;
        cursor: pointer;
    }

    .bar-right-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 16px;
    }

    .champions-content {
        flex-direction: column;
    }

    .champions-main .champions-text .champions-supertitle {
        font-size: 18px;
        line-height: 26px;
    }

    .champions-text .champions-title h2 {
        font-size: 48px;
        line-height: 56px;
    }

    .champions-main .champions-text .champions-description {
        font-size: 16px;
        line-height: 24px;
    }

    .champions-text .champions-buttons a {
        font-size: 16px;
        line-height: 24px;
    }

    .champions-tabs .champions-roles ol {
        justify-content: flex-start;
    }

    .champions-tabs .champions-roles li {
        width: calc((100% - 8px* 3) / 4);
        min-width: calc((100% - 8px* 3) / 4);
    }

    .champions-content .champions-media {
        min-width: 100%;
    }

    .champions-media .champions-media-content .champions-media-title {
        font-size: 20px;
        line-height: 28px;
    }

    .champions-media .champions-media-content .champions-media-subtitle {
        font-size: 14px;
        line-height: 22px;
    }
}