/* Set up */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    background-color:#FFF
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
    background-color:#FFF; 
    font-weight:400;
    color:#373737; 
    font-size:14px;
    margin: 0;
    line-height: 1.5;
}

a{
    color: #000;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, figure {
    margin: 0
}

a:hover,a:focus {
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    box-shadow: none;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    padding: 70px 0;
    width: 100%;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    height: fit-content;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
}


.logo span {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: #000;
    color:#FFF;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.social {
    display: flex;
    text-decoration: none;
    align-items: center;
    flex-wrap: wrap;
}

.social li {
    margin-left: 12px
}

.social li a {
    border-radius: 100%;
    color: #FFF;
    width: 24px;
    height: 24px;
    background-color: #F26464;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.social li a:hover{ 
    background-color: #000; 
    color: #FFF; 
}

.logo:hover { 
    color: #000; 
}

.banner {
    margin-top: 180px;
}

.row {
    display: flex;
    height: fit-content;
}

.row .avt {
    width: 41.66666667%;
    padding-right: 14px;
}
.row .avt figure {
    width: fit-content;
    margin: 0;
}

.row .introduce {
    width: 58.33333333%;
}

.introduce {
    color: #F26464;
    padding: 0 0px 0 10px;
}

.introduce section {
    padding: 0 100px 0 70px;
}

.introduce section h1{
    line-height: 60px;
    font-weight: 600;
    font-size: 48px;
    color:#373737;
}

section h1 span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 30px;
}

.numbervalulist {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.numbervalulist li {
    margin-right: 60px;
}

.numbervalulist strong {
    display: block;
    font-size: 36px;
    font-weight: 800;
    height: 54px;
}

.numbervalulist span {
    font-size: 16px;
    letter-spacing: 1px;
    color:#373737; 

}

.about-section {
    padding: 60px 0 120px;
}

.heading {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
}

.about-section p {
    color: #373737;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}

.download-resume {
    text-align: center;
    min-height:max-content;
}

.button {
    font-size: 12px;
    line-height: 13.5px;
    text-transform: uppercase;
    color: #F26464;
    font-weight: 600;
    letter-spacing: 3px;
    border: 2px solid #F26464;
    border-radius: 60px;
    padding: 17px 30px;
    display: inline-block;
}

.button:hover { 
    background-color:#F26464 ; 
    color: #FFF; 
}

.skills-section { 
    padding-bottom: 105px; 
}

.skills-list { 
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 11px;
}

.width_1\/2 {
    width: 50%;
}

.skills-list li{ 
    display: inline-block;
    color: #373737;
    font-size: 16px;
    padding:10px 20px;
    background-color: #FFF;
    border: 1px solid #D7D7D7;
    border-radius: 27px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

.experience-section {
    margin-bottom: 120px;
}

.experience-list {
    padding-top: 15px;
}

.experience-list div{
    padding-right: 70px;
}

.year {
    display: block;
    font-weight: 700;
    padding-bottom: 10px;
}

.officename {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 10px;
}

.department {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
    display: block;
}

.experience-list p {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 22px;
    line-height: 24px;
}

.experience-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

.experience-list ul li {
    padding-left: 28px;
    position: relative;
    margin-bottom: 20px;
}

.experience-list ul li::before {
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 10px; 
    border-radius: 100%; 
    width: 8px; 
    height: 8px; 
    background-color: #373737;
}


.work-section { 
    padding-bottom: 80px; 
}

.work-list { 
    padding: 40px 70px 0 70px;
    background-color: #F6F8FA; 
    margin-bottom: 40px; 
}

.work-list section { 
    padding: 20px 120px 0 0; 
}

.work-tilte { 
    margin-bottom: 30px; 
    font-size: 30px; 
    line-height: 36px; 
    font-weight: 600; 
}

.work-list p { 
    font-weight: 300; 
    font-size: 18px; 
    line-height: 30px; 
}

.work-list .button { 
    margin-top: 20px; 
}

.work-list .work-image {
    min-width: 41.66666667%;;
}


.work-det-hed { 
    padding: 42px 0 80px 0;
}

.work-det-title { 
    font-size: 48px; 
    font-weight: 600; 
    color:#000; 
    margin-bottom: 20px; 
}

.work-det-dep { 
    display:block;
    font-weight: 600;
    font-size: 18px; 
}

.work-content-sec { 
    padding: 100px 0; 
}

.work-content-sec p { 
    font-size: 18px; 
    line-height: 36px; 
    margin-bottom: 30px; 
}

.work-content-sec h2 { 
    font-size: 30px; 
    font-weight: 700;
     margin-bottom: 30px; 
}

.work-content-sec ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.work-content-sec li {
    font-size: 18px; 
    line-height: 36px;  
    padding-left: 28px; 
    position:relative; 
    margin-bottom: 20px;
}

.work-content-sec li:before { 
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 13px; 
    border-radius: 100%; 
    width: 8px; height: 8px; 
    background-color: #373737; 
}

.header-inner{ display: flex; justify-content: space-between; align-items: center; }

.text-center {
    text-align: center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-center div {
    width: 1110px;
}

.main-section .container {
    padding: 180px 10px 0;
}

.footer { 
    background-color: #000; 
    padding: 120px 0; 
    text-align: center;
}

.footer section  { 
    padding-bottom: 97px; 
}

.footer section span { 
    font-weight: 700; 
    font-size: 16px; 
    display: block; 
    color: rgba(255,255,255,0.5); 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    padding-bottom: 20px; 
}

.footer section h3 {
    font-size: 48px; 
    color: #FFF;  
    font-weight: 700; 
}

.footer section p { 
    letter-spacing: 1.13px; color: #FFF; font-size: 18px; margin-bottom: 40px; 
}

.copyright { 
    color: rgba(255,255,255,0.5); letter-spacing: 1px; font-size: 16px; 
}

.copyright a {
    color: rgba(255,255,255,0.5);
}

.copyright a:hover { 
    color: #F26464; 
}